name: CI/CD workflow

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  packages: write

jobs:
  ci:
    runs-on: ubuntu-latest
    container: node:21-alpine
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - uses: pnpm/action-setup@v4
        with:
          version: 10

      - name: Installs dependencies
        run: pnpm install

      - name: Build project
        run: pnpm build

      - name: List artifact files
        run: ls

  build-docker-image:
    if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    needs: ci
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          push: true
          tags: |
            vncsmyrnk/poll-client:latest
            vncsmyrnk/poll-client:${{ github.sha }}

  # https://github.com/google-github-actions/example-workflows/blob/main/workflows/deploy-cloudrun/cloudrun-docker.yml
  deploy-to-cloud-run:
    if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    needs: build-docker-image
    environment:
      name: cloud-run
      url: https://poll.vncsmyrnk.dev
    permissions:
      contents: 'read'
      id-token: 'write'
    steps:
      - name: Google Auth
        id: auth
        uses: 'google-github-actions/auth@v3'
        with:
          project_id: ${{ secrets.PROJECT_ID }}
          workload_identity_provider: '${{ secrets.WIF_PROVIDER }}'
          service_account: '${{ secrets.WIF_SERVICE_ACCOUNT }}'

      - name: Deploy to Cloud Run
        id: deploy
        uses: google-github-actions/deploy-cloudrun@v3
        with:
          service: ${{ vars.SERVICE }}
          region: ${{ vars.REGION }}
          image: vncsmyrnk/poll-client:${{ github.sha }}
